
div#root {
  background-color: white;
  min-height: 100vh;
}

.container_2 {
  min-height: 100vh;
}

.mdbnavbar, .mdbdropdownmenu {
  background-color: darkred !important;
}

ul.navbar-nav li a,
ul.navbar-nav li.nav-item .dropdown a,
ul.navbar-nav li.nav-item .dropdown ul li a {
  padding-left: 7px;
  padding-right: 7px;
}

.link-activated {
  background-color: red;
  color: black;
}

.content img {
  width: 512px;
  height: auto;
}

.bg {
  background-image: url(/src/saint_seiya_characters/assets/bg.jpg);
}

.bg_gradient {
  background: rgb(12,1,199);
  background: linear-gradient(233deg, rgb(12 1 199 / 81%) 0%, rgb(138 92 255 / 77%) 50%, rgb(82 8 218 / 67%) 100%);
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.characters_grid a {
  width: 310px;
}

figcaption#Namecharacter {
  text-transform: capitalize;
}



